*{
    margin:0;
    padding: 0;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    height: 0%;
    width: 100%;


}
/* Navigation bar:logo */
#logo{
    margin: 10px 30px;
}
#logo img{
    height: 5px;
    width: 10px;
}
/* Navigation bar:List */
#navbar ul{
    display: flex;
    padding: 3px;
}

#navbar ul li{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 100px;
    height: 570px;
    justify-content: center;
    align-items: center;
    color: white;
    

}
#home::before{
    content: "";
    background: url(food2.jpg) no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
    height: 100%;
    width: 100%;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
   
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(238, 222, 222);
    margin-top: -25px;
    
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(tomato.jpg);
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-items{
    padding: 34px;
}
/* contact section */
#contactus{
    position: relative;
}
#contactus::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    background: url(contact.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input{
   border-radius: 10px;
   font-size: 1rem;
   padding: 0.2rem;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
#home p{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    
}
.btn{
    padding:2px 17px;
    margin: 17px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: green;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.center{
    text-align: center;
}
